<div class="margin">

 <div class="col-md-6 col-md-offset-3">
<h1>All Friends</h1>
<table class="users">
<%= paginate @fm, :remote => true %>
 <% @fm.each do |user| %>
    <tr>
     <td><%= link_to gravatar_for(user, size: 50)%></td>
     <td>
       <span class="user">
         <%= link_to list_of_posts_post_path(user) do %>
        <%= user.username %>
         <% end %>
       </span>
     </td>
    </tr>
  <% end %>
</table>
</div>
</div>