<table class="users">
 <h1>All Friend Requests</h1>
 <% @frs.each do |fr| %>
   <tr>
      <td><%= gravatar_for fr %></td> <td></td>
      <td><%= fr.username %></td> <td></td>
      <td></td> <td></td>
      <td></td><td></td>
      <td><%= link_to 'Accept', confirm_user_path(fr)%></td>
      <td><%= link_to 'Reject', reject_user_path(fr)%></td>
    </tr>
  <% end %>
</table>